node_modules
vendor
build
yarn-error.log
.phpunit.result.cache
.phpunit.cache
.DS_Store
testingdb
.env
.auth/
artifacts/
tests-examples/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
build-script.sh
integration-coverage.xml
unit-coverage.xml
