<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/unit/bootstrap.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" failOnRisky="true" cacheResultFile=".phpunit.cache/test-results" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage cacheDirectory=".phpunit.cache/code-coverage">
    <include>
      <directory suffix=".php">./includes</directory>
    </include>
    <report>
      <clover outputFile="unit-coverage.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory suffix=".php">./tests/unit/</directory>
    </testsuite>
  </testsuites>
</phpunit>
