#mr-feature-flag-slug {
	padding-bottom: 10px;
}

.flag-name-error > p {
	color: #cc1818;
}

.feature-flag-snackbar {
	bottom: 3.5rem;
	position: fixed;

	div {
		float: right;
		right: 250px;
	}

	.components-snackbar__icon {
		top: auto;
		left: 18px;
	}
}

.feature-flag-loader {

	.components-spinner {
		width: 20px;
		height: 20px;
	}
}

#mr-feature-flag-submit-controls {
	margin-top: 20px;
}

.codeb-feature-flags-filename {
	background-color: #007cba;
	border-radius: 6px;
	padding: 3px;
	color: #fff;
}

.codeb-feature-flags-slug {
	background-color: #d7d8d9;
	border-radius: 6px;
	padding: 2px;
}

.codeb-feature-flags-clipboard-base {
	color: #a9a9a9 !important;
	float: right;
	position: relative;
	right: 40px;
}

.codeb-feature-flags-input {
	width: 180px;
}

.codeb-feature-flags-toggle {
	margin-top: 7px;
	margin-left: 40px;
	min-width: 130px !important;
}

.codeb-feature-flags-sdk {
	margin-left: 80px;
}

.codeb-feature-flags-delete {
	margin-bottom: 6px;
	margin-left: 50px;
}
