#mr-feature-flag-slug {
	padding-bottom: 10px;
}

.flag-name-error > p {
	color: #cc1818;
}

.feature-flag-snackbar {
	bottom: 3.5rem;
	position: fixed;
}

.feature-flag-loader {
	.components-spinner {
		width: 20px;
		height: 20px;
	}
}

#mr-feature-flag-submit-controls {
	margin-top: 20px;
}

.mr-feature-flags-filename {
	background-color: #007cba;
	border-radius: 6px;
	padding: 3px;
	color: #fff;
}

.mr-feature-flags-slug {
	background-color: #d7d8d9;
	border-radius: 6px;
	padding: 2px;
}
